<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in user</title>
    <style>
        body
        {
            display:flex;
            height:100vh;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
        body > p
        {
            font-size:2vw;
        }
    </style>

</head>
<body>
    <p>
    This is admin page</p>
    <a href="/calculate">CALCULATE</a>
    <a href="/add_delete_student">ADD/DELETE student</a>
    <a href="/add_delete_course">ADD/DELETE course</a>
 

</body>
</html>