{% extends "base.html" %}
{%load static%}

{%block Heading%} UPDATE STUDENT RECORDS{%endblock%}

{%block style %} 

.hitems
{
    display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            justify-content:space-around;
            padding-top: 40px;
            padding-bottom: 40px;
            height:100%;
            color:white;
}

{% endblock%}

{%block body%}
<div class="hitems text-center">
    <form class="form-signin" style="width:25%;" method="post" action="/add_student">
        {% csrf_token %}

        <label for="inputEmail" class="sr-only mt-3"><strong><h5>Roll Number</strong></h5></label>
        <input type="text" id="inputEmail1" name="roll_number" class="form-control" placeholder="ROLL NUMBER" required
            autofocus>

        <label for="year" class="sr-only mt-4"><strong><h5>YEAR</strong></h5></label>
        <select name="year" id="year">
            <option value="1">1st YEAR</option>
            <option value="2">2nd YEAR</option>
            <option value="3">3rd YEAR</option>
            <option value="4">4th YEAR</option>
        </select>

        <label for="inputEmail" class="sr-only mt-4"><strong><h5>BRANCH</strong></h5></label>
        <select name="branch" id="branch">
            <option value="cse">CSE</option>
            <option value="ece">ECE</option>
        </select>
    </br>

        <label for="inputEmail" class="sr-only mt-4"><strong><h5>NAME</strong></h5></label>
        <input type="text" id="inputEmail1" name="name" class="form-control" placeholder="NAME" required
            autofocus>

        <label for="inputEmail" class="sr-only mt-3"><strong><h5>PASSWORD</strong></h5></label>
        <input type="text" id="inputEmail1" name="dob" class="form-control" placeholder="PASSWORD" required
            autofocus>    

        <button class="btn btn-lg btn-block mt-4" style="background-color:#051D40; color:white;" type="submit">ADD</button>

    </form>

    <form class="form-signin" style="width:25%;" method="post" action="/delete_student">
        {% csrf_token %}

        <label for="inputEmail" class="sr-only mt-5"><strong><h5>Roll Number</strong></h5></label>
        <input type="text" id="inputEmail1" name="roll_number" class="form-control" placeholder="ROLL NUMBER" required
            autofocus>

        <button class="btn btn-lg btn-block mt-4" style="background-color:#051D40; color:white;" type="submit">DELETE</button>

    </form>
</div>
{%endblock%}