{% extends "base.html" %}
{%load static%}

{%block Heading%} ADMINISTRATOR{%endblock%}

{% block style%}
.hitems
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}
{%endblock%}

{% block body%}
<div class="hitems">
    <a class="btn btn-lg btn-block m-3 mt-5" style="width: 25%; background-color:#051D40; color:white;"href="/calculate">CALCULATE</a>
    <a class="btn btn-lg btn-block m-3" style="width: 25%; background-color:#051D40; color:white;"href="/add_delete_student">ADD/DELETE STUDENT</a>
    <a class="btn btn-lg btn-block m-3" style="width: 25%; background-color:#051D40; color:white;"href="/add_delete_course">ADD/DELETE COURSE</a>
    <a class="btn btn-lg btn-block m-3" style="width: 25%; background-color:#051D40; color:white;"href="/change_pwd">CHANGE PASSWORD</a>
    <a class="btn btn-lg btn-block m-3" style="width: 25%; background-color:#051D40; color:white;"href="/admin_logout">LOGOUT</a>
</div>
{%endblock%}