{% extends "adm.html" %}
{% load static %}

{% block style %}

.hitems
{
    display: -ms-flexbox;
            display: inline-block;
            -ms-flex-align: center;
            align-items: center;
            justify-content:center;
            padding-top: 40px;
            padding-bottom: 40px;            
            height:100%;
            color:white;
            border-radius:10px;
            box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
            background-color: white;
            padding:55px;
            color:black;
            width:200px;
            margin-top:100px;
            margin-left:500px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap : 15px;
    margin-left:20px;

}

.c1{
    width:180px;
    height:25px;
    border-radius:10px;
}

input{
    padding:6px;
    max-height:10px;
    outline:none;
    border-radius:10px;
}

.button{
    background-color:#051D40; 
    color:white;
    padding : 6px 10px;
    margin-left: 55px;
    margin-top:10px;
    border-radius:6px;  

}


{% endblock %}


{% block content %}

<div  class="hitems text-center">
    <form class="form-signin"  method="post" action="/change_pwd">
        {% csrf_token %}
        <div class="flex">    
        <label for="inputEmail" class="sr-only mt-5"><strong><h5>Username</h5></strong></label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required
            autofocus>
        </div>

        <div class="flex">
        <label for="inputPassword" class="sr-only mt-3" ><strong><h5>Password</h5></strong></label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        </div>
       
        <div class="flex">
        <select class="c1"name="key" id="key">
            <option value="student">student</option>
            <option value="course">course</option>
        </select>
        </div>
    </br>
        <button class="button" style="background-color:#051D40; color:white; margin-top:10px; "type="submit">CHANGE</button>
    </form>
</div>
{% endblock %}

