{% extends "base.html" %}
{%load static%}

{%block style%}
        .item 
        {
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            background-color:#051D40;
            margin-top:5%;
            margin-bottom:5%;
            margin-left:2%;
            margin-right:2%;
            width:15vw;
            height:20vw;
        }

        button
        {
            background-color: #145DA0;
        }

        .hitems
        {
            display:flex;
            width:100%;
            justify-content:center;
        }
{%endblock%}

{%block Heading%} STUDENT RESULTS MANAGEMENT{%endblock%}

{%block body%}
<div class="hitems">
    <div class="item">
        <img src="{% static 'student1.png' %}">
        <a href="/student">
            <button type=button class="btn btn-primary">
                STUDENT
            </button>
        </a>
    </div>
    <div class="item">
        <img src="{% static 'Faculty.png' %}">
        <a href="/login">
            <button type=button class="btn btn-primary">
                Faculty
            </button>
        </a>
    </div>
    <div class="item">
        <img src="{% static 'admin.png' %}">
        <a href="/admin_login">
            <button type=button class="btn btn-primary">
                ADMIN
            </button>
        </a>
    </div>
</div>
{%endblock%}