{% extends "base.html" %}
{%load static%}

{%block Heading%} 2023-24 ODD SEMESTER RESULTS{%endblock%}

{%block style%}
.hcontent
{
    display:grid;
    grid-template-rows:1fr 4fr;
}

.hdetails
{
    display:grid;
    grid-template-rows:1fr 1fr;
    background-color:white;
    width:75%;
    margin-left:10%;
    
}

.hname
{
    
}

.htable
{
    
}
{% endblock %}

{% block body%}

<div class="hcontent">
    <div class="hdetails">
        <p class="hname">NAME: {{ name }}</p>
        <p class="hroll">ROLL NUMBER: {{ rollno }}</p>
        <p class="hcgpa">CGPA: {{ cgpa }}</p>
        <p class="hbranch">BRANCH: {{ branch }}</p>
        <p class="hyear">year: {{ year }}</p>
    </div>

    <div class="htable">
        {% for mark in marks %}
            {% if mark.roll_no == rollno %}        
                {% for course in courses %}                                                   
                        {% if mark.course == course.course1 %}
                            <p>{{ course.name }}: {{ mark.score }}:{{course.credits}}</p>
                        {% endif %}              
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock%}