{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in user</title>
</head>
<body>
    <p>
    This is my teachers page</p>

    <a href="/marking">{{course}}</a>
    <a href="/logout">Logout</a>
</body>
</html>
 {% endcomment %}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in user</title>
</head>
<body>
    <p>
        This is my teachers page
    </p>

    <a href="/marking?course={{ course }}">Go to Marking</a>
    <a href="/logout">Logout</a>
</body>
</html>

