<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display Variable</title>
</head>
<body>
    <div class="">
        <p>NAME: {{ name }}</p>
        <p>ROLL NUMBER: {{ rollno }}</p>
        <p>BRANCH: {{ branch }}</p>
        <p>CGPA: {{ cgpa }}</p>
        <p>year: {{ year }}</p>
    </div>

    <div>
        {% for mark in marks %}
            {% if mark.roll_no == rollno %}        
                {% for course in courses %}                                                   
                        {% if mark.course == course.course1 %}
                            <p>{{ course.name }}: {{ mark.score }}:{{course.credits}}</p>
                        {% endif %}              
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
